openapi: 3.0.0
info:
  title: APIs OpenData do Open Banking Brasil
  description: As APIs descritas neste documento são referentes as APIs da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc5
  contact:
    email: "apiteam@swagger.io"
tags:
  - name: "Channels"
    description: "Operações para listagem de canais de atendimentos"
servers:
  - url: http://api.banco.com.br/open-banking/channels/v1
paths:
  /banking-agents:
    get:
      tags:
        - "Channels"
      summary: Obtém a lista de correspondentes bancários da instituição financeira.
      description: "Método para obter a lista de correspondentes bancários da instituição financeira."
      operationId: "getBankingAgents"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
  /branches:
    get:
      tags:
        - "Channels"
      summary: Obtém a lista de dependências próprias da instituição financeira.
      description: "Método para obter a lista de dependências próprias da instituição financeira."
      operationId: "getBranches"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
  /electronic-channels:
    get:
      tags:
        - "Channels"
      summary: Obtém a lista de canais eletrônicos de atendimento da instituição financeira.
      description: "Método para obter a lista de canais eletrônicos de atendimento da instituição financeira."
      operationId: "getElectronicChannels"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
  /phone-channels:
    get:
      tags:
        - "Channels"
      summary: "Obtém a lista de canais telefônicos de atendimento da instituição financeira."
      description: "Método para obter a lista de canais telefônicos de atendimento da instituição financeira."
      operationId: "getPhoneChannels"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
  /shared-automated-teller-machines:
    get:
      tags:
        - "Channels"
      summary: "Obtém a lista de terminais compartilhados de autoatendimento."
      description: "Método para obter a lista de terminais compartilhados de autoatendimento da instituição financeira."
      operationId: "getSharedAutomatedTellerMachines"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
components:
  schemas:
    ResponseBankingAgentsList:
      $ref: "./schemas/ResponseBankingAgentsList.yaml"
    BankingAgentsBrand:
      $ref: "./schemas/BankingAgentsBrand.yaml"
    BankingAgentsCompanies:
      $ref: "./schemas/BankingAgentsCompanies.yaml"
    BankingAgentsContractor:
      $ref: "./schemas/BankingAgentsContractor.yaml"
    ResponseBranchesList:
      $ref: "./schemas/ResponseBranchesList.yaml"
    BranchesBrand:
      $ref: "./schemas/BranchesBrand.yaml"
    BranchesCompany:
      $ref: "./schemas/BranchesCompany.yaml"
    ResponseElectronicChannelsList:
      $ref: "./schemas/ResponseElectronicChannelsList.yaml"
    ElectronicChannelsBrand:
      $ref: "./schemas/ElectronicChannelsBrand.yaml"
    ElectronicChannelsCompanies:
      $ref: "./schemas/ElectronicChannelsCompanies.yaml"
    BankingAgent:
      $ref: "./schemas/BankingAgent.yaml"
    BankingAgentIdentification:
      $ref: "./schemas/BankingAgentIdentification.yaml"
    BankingAgentLocation:
      $ref: "./schemas/BankingAgentLocation.yaml"
    BankingAgentPostalAddress:
      $ref: "./schemas/BankingAgentPostalAddress.yaml"
    BankingAgentAvailability:
      $ref: "./schemas/BankingAgentAvailability.yaml"
    BankingAgentService:
      $ref: "./schemas/BankingAgentService.yaml"
    Branch:
      $ref: "./schemas/Branch.yaml"
    BranchPostalAddress:
      $ref: "./schemas/BranchPostalAddress.yaml"
    BranchPhone:
      $ref: "./schemas/BranchPhone.yaml"
    BranchIdentification:
      $ref: "./schemas/BranchIdentification.yaml"
    BranchAvailability:
      $ref: "./schemas/BranchAvailability.yaml"
    BranchService:
      $ref: "./schemas/BranchService.yaml"
    ElectronicChannel:
      $ref: "./schemas/ElectronicChannel.yaml"
    ElectronicChannelIdentification:
      $ref: "./schemas/ElectronicChannelIdentification.yaml"
    ElectronicChannelUrl:
      $ref: "./schemas/ElectronicChannelUrl.yaml"
    ElectronicChannelService:
      $ref: "./schemas/ElectronicChannelService.yaml"
    Phone:
      $ref: "./schemas/Phone.yaml"
    PostalAddress:
      $ref: "./schemas/PostalAddress.yaml"
    ResponseSharedAutomatedTellerMachinesList:
      $ref: "./schemas/ResponseSharedAutomatedTellerMachinesList.yaml"
    SharedAutomatedTellerMachinesBrand:
      $ref: "./schemas/SharedAutomatedTellerMachinesBrand.yaml"
    SharedAutomatedTellerMachinesCompanies:
      $ref: "./schemas/SharedAutomatedTellerMachinesCompanies.yaml"
    SharedAutomatedTellerMachines:
      $ref: "./schemas/SharedAutomatedTellerMachines.yaml"
    SharedAutomatedTellerMachinesServices:
      $ref: "./schemas/SharedAutomatedTellerMachinesServices.yaml"
    SharedAutomatedTellerMachinesIdentification:
      $ref: "./schemas/SharedAutomatedTellerMachinesIdentification.yaml"
    ResponsePhoneChannelsList:
      $ref: "./schemas/ResponsePhoneChannelsList.yaml"
    PhoneChannelsBrand:
      $ref: "./schemas/PhoneChannelsBrand.yaml"
    PhoneChannelsCompany:
      $ref: "./schemas/PhoneChannelsCompany.yaml"
    PhoneChannel:
      $ref: "./schemas/PhoneChannel.yaml"
    PhoneChannelIdentification:
      $ref: "./schemas/PhoneChannelIdentification.yaml"
    PhoneChannelPhone:
      $ref: "./schemas/PhoneChannelPhone.yaml"
    PhoneChannelService:
      $ref: "./schemas/PhoneChannelService.yaml"
    GeographicCoordinates:
      $ref: "./schemas/GeographicCoordinates.yaml"
    Brand:
      $ref: "./schemas/Brand.yaml"
    CNPJ:
      $ref: "./schemas/CNPJ.yaml"
    Links:
      $ref: "./schemas/Links.yaml"
    Meta:
      $ref: "./schemas/Meta.yaml"
    SharedAutomatedTellerMachinesCompany:
      $ref: "./schemas/SharedAutomatedTellerMachinesCompany.yaml"
    SharedAutomatedTellerMachinesAvailability:
      $ref: "./schemas/SharedAutomatedTellerMachinesAvailability.yaml"
    SharedAutomatedTellerMachinesPostalAddress:
      $ref: "./schemas/SharedAutomatedTellerMachinesPostalAddress.yaml"
  parameters:
    $ref: "./schemas/parameters.yaml"
