openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc5
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/products-services/v2'
tags:
  - name: Accounts
  - name: Loans
  - name: Credit Cards
  - name: Financings
  - name: Invoice Financings
  - name: Unarranged Account Overdraft
paths:
  /personal-accounts:
    get:
      tags:
        - Accounts
      summary: Obtém dados das contas pessoa natural
      description: Obtém dados das contas
      operationId: getPersonalAccounts
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
  /business-accounts:
    get:
      tags:
        - Accounts
      summary: Obtém dados das contas pessoa jurídica
      description: Obtém dados das contas pessoa jurídica
      operationId: getBusinessAccounts
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
  /personal-loans:
    get:
      tags:
        - Loans
      summary: Obtém dados sobre empréstimos pessoa natural
      description: Obtém dados sobre empréstimos pessoa natural
      operationId: getPersonalLoans
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
  /business-loans:
    get:
      tags:
        - Loans
      summary: Obtém dados sobre empréstimos pessoa jurídica
      description: Obtém dados sobre empréstimos pessoa jurídica
      operationId: getBusinessLoans
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
  /personal-credit-cards:
    get:
      tags:
        - Credit Cards
      summary: Obtém dados sobre cartões de crédito pessoa natural
      description: Obtém dados sobre cartões de crédito pessoa natural
      operationId: getPersonalCreditCards
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalCreditCardResponse'
  /business-credit-cards:
    get:
      tags:
        - Credit Cards
      summary: Obtém dados sobre cartões de crédito pessoa jurídica
      description: Obtém dados sobre cartões de crédito pessoa jurídica
      operationId: getBusinessCreditCards
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCreditCardResponse'
  /personal-financings:
    get:
      tags:
        - Financings
      summary: Obtém a lista de Financiamentos de Pessoa Natural.
      description: Obtém a lista de Financiamentos de Pessoa Natural
      operationId: getPersonalFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
  /business-financings:
    get:
      tags:
        - Financings
      summary: Obtém a lista de Financiamentos de Pessoa Jurídica.
      description: Obtém a lista de Financiamentos de Pessoa Jurídica.
      operationId: getBusinessFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
  /personal-invoice-financings:
    get:
      tags:
        - Invoice Financings
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Natural.
      description: Obtém a lista de Adiantamento de Recebíveis de Pessoa Natural.
      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
  /business-invoice-financings:
    get:
      tags:
        - Invoice Financings
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica.
      description: Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica.
      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
  /personal-unarranged-account-overdraft:
    get:
      tags:
        - Unarranged Account Overdraft
      summary: Obtém a lista de adiantamento de depositante de Pessoa Natural.
      description: Obtém a lista de adiantamento de depositante de Pessoa Natural.
      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
  /business-unarranged-account-overdraft:
    get:
      tags:
        - Unarranged Account Overdraft
      summary: Obtém a lista de adiantamento de depositante de Pessoa Jurídica.
      description: Obtém a lista de adiantamento de depositante de Pessoa Jurídica.
      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
components:
  schemas:
    AccountsTermsConditions:
      $ref: "./schemas/ResponsePersonalAccounts.yaml"
    ResponsePersonalAccounts:
      $ref: "./schemas/ResponsePersonalAccounts.yaml"
    PersonalAccountBrand:
      $ref: "./schemas/PersonalAccountBrand.yaml"
    PersonalAccountCompany:
      $ref: "./schemas/PersonalAccountCompany.yaml"
    PersonalAccount:
      $ref: "./schemas/PersonalAccount.yaml"
    AccountFee:
      $ref: "./schemas/AccountFee.yaml"
    AccountPriorityService:
      $ref: "./schemas/AccountPriorityService.yaml"
    AccountType:
      $ref: "./schemas/AccountType.yaml"
    OpeningClosingChannels:
      $ref: "./schemas/OpeningClosingChannels.yaml"
    TransactionMethods:
      $ref: "./schemas/TransactionMethods.yaml"
    PriorityServiceName:
      $ref: "./schemas/PriorityServiceName.yaml"
    AccountOtherService:
      $ref: "./schemas/AccountOtherService.yaml"
    AccountPriorityServiceCode:
      $ref: "./schemas/AccountPriorityServiceCode.yaml"
    ServiceBundle:
      $ref: "./schemas/ServiceBundle.yaml"
    ServiceBundleServiceDetail:
      $ref: "./schemas/ServiceBundleServiceDetail.yaml"
    AccountsIncomeRate:
      $ref: "./schemas/AccountsIncomeRate.yaml"
    ResponseBusinessAccounts:
      $ref: "./schemas/ResponseBusinessAccounts.yaml"
    BusinessAccountsBrand:
      $ref: "./schemas/BusinessAccountsCompany.yaml"
    BusinessAccountsCompany:
      $ref: "./schemas/BusinessAccountsCompany.yaml"
    BusinessAccounts:
      $ref: "./schemas/BusinessAccounts.yaml"
    BusinessAccountsService:
      $ref: "./schemas/BusinessAccountsService.yaml"
    ResponsePersonalLoans:
      $ref: "./schemas/ResponsePersonalLoans.yaml"
    PersonalLoanBrand:
      $ref: "./schemas/PersonalLoanBrand.yaml"
    PersonalLoanCompany:
      $ref: "./schemas/PersonalLoanCompany.yaml"
    ResponseBusinessLoans:
      $ref: "./schemas/ResponseBusinessLoans.yaml"
    BusinessLoanBrand:
      $ref: "./schemas/BusinessLoanBrand.yaml"
    BusinessLoanCompany:
      $ref: "./schemas/BusinessLoanCompany.yaml"
    PersonalLoan:
      $ref: "./schemas/PersonalLoan.yaml"
    BusinessLoan:
      $ref: "./schemas/BusinessLoan.yaml"
    LoanFees:
      $ref: "./schemas/LoanFees.yaml"
    LoanService:
      $ref: "./schemas/LoanService.yaml"
    LoanInterestRate:
      $ref: "./schemas/LoanInterestRate.yaml"
    ApplicationRate:
      $ref: "./schemas/ApplicationRate.yaml"
    Indexer:
      $ref: "./schemas/Indexer.yaml"
    InterestRateFee:
      $ref: "./schemas/InterestRateFee.yaml"
    PriceIntervals:
      $ref: "./schemas/PriceIntervals.yaml"
    ApplicationIntervals:
      $ref: "./schemas/ApplicationIntervals.yaml"
    RequiredWarranty:
      $ref: "./schemas/RequiredWarranty.yaml"
    CreditCardIdentification:
      $ref: "./schemas/CreditCardIdentification.yaml"
    CreditCardRewardsProgram:
      $ref: "./schemas/CreditCardTermsConditions.yaml"
    CreditCardTermsConditions:
      $ref: "./schemas/CreditCardTermsConditions.yaml"
    CreditCardInterest:
      $ref: "./schemas/CreditCardInterest.yaml"
    CreditCardInterestRate:
      $ref: "./schemas/CreditCardInterestRate.yaml"
    PersonalCreditCardResponse:
      $ref: "./schemas/PersonalCreditCardBrand.yaml"
    PersonalCreditCardBrand:
      $ref: "./schemas/PersonalCreditCardBrand.yaml"
    PersonalCreditCardCompany:
      $ref: "./schemas/PersonalCreditCardCompany.yaml"
    BusinessCreditCardResponse:
      $ref: "./schemas/BusinessCreditCardResponse.yaml"
    BusinessCreditCardBrand:
      $ref: "./schemas/BusinessCreditCardBrand.yaml"
    BusinessCreditCardCompany:
      $ref: "./schemas/BusinessCreditCardCompany.yaml"
    CreditCardService:
      $ref: "./schemas/CreditCardService.yaml"
    ResponsePersonalFinancings:
      $ref: "./schemas/ResponsePersonalFinancings.yaml"
    PersonalFinancingBrand:
      $ref: "./schemas/PersonalFinancingBrand.yaml"
    PersonalFinancingCompany:
      $ref: "./schemas/PersonalFinancingCompany.yaml"
    PersonalFinancing:
      $ref: "./schemas/PersonalFinancing.yaml"
    PersonalFinancingFee:
      $ref: "./schemas/PersonalFinancingFee.yaml"
    FinancingService:
      $ref: "./schemas/FinancingService.yaml"
    FinancingInterestRate:
      $ref: "./schemas/FinancingInterestRate.yaml"
    ResponseBusinessFinancings:
      $ref: "./schemas/ResponseBusinessFinancings.yaml"
    BusinessFinancingBrand:
      $ref: "./schemas/BusinessFinancingBrand.yaml"
    BusinessFinancingCompany:
      $ref: "./schemas/BusinessFinancingCompany.yaml"
    BusinessFinancing:
      $ref: "./schemas/BusinessFinancingFee.yaml"
    BusinessFinancingFee:
      $ref: "./schemas/BusinessFinancingFee.yaml"
    ResponsePersonalInvoiceFinancings:
      $ref: "./schemas/ResponsePersonalInvoiceFinancings.yaml"
    PersonalInvoiceFinancingsBrand:
      $ref: "./schemas/PersonalInvoiceFinancingsBrand.yaml"
    PersonalInvoiceFinancingsCompanies:
      $ref: "./schemas/PersonalInvoiceFinancingsCompanies.yaml"
    PersonalInvoiceFinancings:
      $ref: "./schemas/PersonalInvoiceFinancings.yaml"
    PersonalInvoiceFinancingsFees:
      $ref: "./schemas/PersonalInvoiceFinancingsFees.yaml"
    InvoiceFinancingsService:
      $ref: "./schemas/InvoiceFinancingsService.yaml"
    PersonalInvoiceFinancingsInterestRates:
      $ref: "./schemas/PersonalInvoiceFinancingsInterestRates.yaml"
    ResponseBusinessInvoiceFinancings:
      $ref: "./schemas/ResponseBusinessInvoiceFinancings.yaml"
    BusinessInvoiceFinancingsBrand:
      $ref: "./schemas/BusinessInvoiceFinancingsBrand.yaml"
    BusinessInvoiceFinancingsCompanies:
      $ref: "./schemas/BusinessInvoiceFinancingsCompanies.yaml"
    BusinessInvoiceFinancings:
      $ref: "./schemas/BusinessInvoiceFinancings.yaml"
    BusinessInvoiceFinancingsFees:
      $ref: "./schemas/BusinessInvoiceFinancingsFees.yaml"
    BusinessInvoiceFinancingsInterestRates:
      $ref: "./schemas/BusinessInvoiceFinancingsInterestRates.yaml"
    ResponseBusinessUnarrangedAccountOverdraft:
      $ref: "./schemas/ResponseBusinessUnarrangedAccountOverdraft.yaml"
    BusinessUnarrangedAccountOverdraftBrand:
      $ref: "./schemas/BusinessUnarrangedAccountOverdraftBrand.yaml"
    BusinessUnarrangedAccountOverdraftCompany:
      $ref: "./schemas/BusinessUnarrangedAccountOverdraftCompany.yaml"
    BusinessUnarrangedAccountOverdraft:
      $ref: "./schemas/BusinessUnarrangedAccountOverdraft.yaml"
    BusinessUnarrangedAccountOverdraftFee:
      $ref: "./schemas/BusinessUnarrangedAccountOverdraftFee.yaml"
    UnarrangedAccountOverdraftService:
      $ref: "./schemas/UnarrangedAccountOverdraftService.yaml"
    UnarrangedAccountOverdraftRate:
      $ref: "./schemas/UnarrangedAccountOverdraftRate.yaml"
    FeeReferentialRateIndexer:
      $ref: "./schemas/FeeReferentialRateIndexer.yaml"
    ResponsePersonalUnarrangedAccountOverdraft:
      $ref: "./schemas/ResponsePersonalUnarrangedAccountOverdraft.yaml"
    PersonalUnarrangedAccountOverdraftBrand:
      $ref: "./schemas/PersonalUnarrangedAccountOverdraftBrand.yaml"
    PersonalUnarrangedAccountOverdraftCompany:
      $ref: "./schemas/PersonalUnarrangedAccountOverdraftCompany.yaml"
    PersonalUnarrangedAccountOverdraft:
      $ref: "./schemas/PersonalUnarrangedAccountOverdraft.yaml"
    PersonalUnarrangedAccountOverdraftFee:
      $ref: "./schemas/PersonalUnarrangedAccountOverdraftFee.yaml"
    Price:
      $ref: "./schemas/Price.yaml"
    MonthlyPrice:
      $ref: "./schemas/MonthlyPrice.yaml"
    MinimumPrice:
      $ref: "./schemas/MinimumPrice.yaml"
    MaximumPrice:
      $ref: "./schemas/MaximumPrice.yaml"
    Customer:
      $ref: "./schemas/Customer.yaml"
    MinimumBalance:
      $ref: "./schemas/MinimumBalance.yaml"
    Currency:
      $ref: "./schemas/Currency.yaml"
    InterestRate:
      $ref: "./schemas/InterestRate.yaml"
    ReferentialRateIndexer:
      $ref: "./schemas/ReferentialRateIndexer.yaml"
    PersonalCreditCard:
      $ref: "./schemas/PersonalCreditCard.yaml"
    BusinessCreditCard:
      $ref: "./schemas/BusinessCreditCard.yaml"
    Brand:
      $ref: "./schemas/Brand.yaml"
    Company:
      $ref: "./schemas/Company.yaml"
    CNPJ:
      $ref: "./schemas/Links.yaml"
    Links:
      $ref: "./schemas/Links.yaml"
    Meta:
      $ref: "./schemas/Meta.yaml"
  securitySchemes:
    $ref: "./schemas/securitySchemes.yaml"
  parameters:
    $ref: "./schemas/parameters.yaml"
